server:
  port: 80
spring:
  application:
    name: Ticket-Karo
  datasource:
    url: jdbc:mysql://localhost:3306/Ticket-karo?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      url: redis://localhost:6379
  mail:
    host: smtp.gmail.com
    port: 587
    Username: priyam7232506@gmail.com
    Password: ${APP-PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
admin:
  email: admin@gmail.com
  password: admin1234
